
{% extends "index.html" %}

{% block header %}
<div class="page-header color-1">
  <h2>About</h2>
</div>
{% endblock %}

{% block content %}

  <h1>Our Story</h1>

  <!-- <div class="entry-meta">
    <span class="date"><a href="#"><i class="fa fa-fw fa-clock-o"></i> 12 December, 2016</a></span>
    <span class="divider">|</span>
    <span class="autor"><a href="#"><i class="fa fa-fw fa-user"></i> John Doe</a></span>
    <span class="divider">|</span>
    <span class="category"><a href="#"><i class="fa fa-fw fa-folder"></i> jQuery</a></span>
  </div> -->

  <p>A Reason For Living started as a result of a conversation I had with a man at a coffee shop. I had my Bible open reading and he confronted me and challenged my belief. "Do you really believe in that Bible stuff?" We talked for three hours as I showed him how the Bible answers the three most important questions to life; Where we came from, Why we are here, and Where we are going. </p>

  <p>As I drove home meditating upon the conversation, I realized that this man is like so many others who have no purpose or direction in life. He was lost without hope in this world. As believers we have come to know that through Jesus we have hope. In Jesus we have direction - He is our answer, Lord, and greatest friend. </p>

  <p>Assuming this case was closed, I opened up the Scripture and began preaching to the church on our reason for living. The response was not at all what I expected. After each service, family after family, person after person came up and said that they have been saved for so many years but never learned what their calling was. And that before this preaching they would have stood before God and when He asked "Did you do what I called you to do?" their response would have been "I never learned what my calling was."</p>

  <p>We realized that there needed to be a ministry committed to helping the brethren learn what their calling is and to assist them in pressing toward the mark of the high calling of God in Christ Jesus.</p>

  <p>It was at that moment A Reason For Living was born!</p>

  <!-- <blockquote>
      <p>Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma - which is living with the results of other people's thinking. Don't let the noise of others' opinions drown out your own inner voice. And most important, have the courage to follow your heart and intuition.</p>
      <footer><cite>Steve Jobs</cite></footer>
  </blockquote> -->


  <h1>Our Mission</h1>
  <p>To help all brothers and sisters in Christ grow in:
    <ul>
        <li>Biblical Knowledge</li>
        <li>Character</li>
        <li>Faith</li>
    </ul>

    These are the essential pillars of Christianity and are the ingredients needed to live a Christ-centered life.
  </p>

  <h1>Our Vision</h1>
  <p>To come alongside the church and meet the people where they are by weaving into the ministries already moving and be a helping hand. </p>

  <ul>
      <li><span style="font-size:20px; color:red">T</span>ogether, we can do great things for God. We are all unique</li>
      <li><span style="font-size:20px; color:red">E</span>veryone has their role to play in the body, and there is great joy when one</li>
      <li><span style="font-size:20px; color:red">A</span>ccomplishes their goal and lives out their purpose. United we can do</li>
      <li><span style="font-size:20px; color:red">M</span>ore for our King then if we stand alone!</li>
  </ul>

  <p>Here at A Reason for Living we are accomplishing this vision by becoming bridge builders:
      <ul>
          <li>Bridge of Evangelism - Leading people to the saving grace of Jesus Christ</li>
          <li>Bridge of Discipleship - Salvation is not the end, but the beginning of a new life, and it is crucial to help direct a babe in Christ into maturity so they can fulfill God's call in their life.</li>
      </ul>
</p>
<h1>How it Works</h1>
    <ol>
        <li>We have prepared a Biblical Studies course for those who want to grow in knowledge of the Bible, book by book.</li>
        <li>We provide a discipleship packet for those interested in developing their character.  The focus will be to help renew the mind, correct the mouth, and change the desires of the heart.  In addition, church groups can invite Evangelist Aaron Hillyard to come teach a week-long class.  Please visit the "Revival" page for more information.</li>
        <li>We organize mission field opportunities to stretch a Christian's faith. As Scripture explains, "Knowing this, that the trying of your faith worketh patience. But let patience have her perfect work, that ye may be perfect and entire, wanting nothing." - James 1:3-4.   </li>
    </ol>
  <h1>Our Need</h1>

<p>Your help is something we greatly cherish.  You can be a blessing to us by:
    <ol>
        <li>Praying and developing a heart for this mission - " Go ye therefore and teach all nations,baptizing them in the name of the Father,and of the Son, and of the Holy Ghost" - Matthew 28:19</li>
        <li>Giving financial support so that we can go into all the world without hindrance of finances, being backed by the Body of Christ to preach the Gospel.
        Inviting us to your church.</li>
        <li>Attending one of our Biblical Studies classes.</li>
    </ol>
</p>

<h1>Our Prayer</h1>
<p>To have the freedom to bring the preaching of God's Word into the churches and communities that need it</p>

<p><strong>FROM OUR FAMILY TO YOURS,</strong></p>
<p>
<strong>For the Glory of the King,</strong>
Evangelist Aaron Hillyard</p>
<img src="static/img/family.jpg" alt="">

{% endblock %}
