
{% extends "index.html" %}

{% block header %}
<div class="page-header color-1">
  <h2>Evangelists</h2>
</div>
{% endblock %}

{% block content %}
  <div class="entry-content">
			<h2>Evangelist Aaron Hillyard<img style="border: 2px solid black;" class="alignright size-full wp-image-559" src="static/img/Aaron-Hillyard.jpg" alt="" width="250" height="279" /></h2>
<p><b>Founder of A Reason for Living Ministries</b></p>
<p>Aaron received Christ as his Savior on December 29, 2001, after which he attended Pensacola Christian College where he received his Bachelor’s Degree in Evangelism. In 2009, he completed his Master’s Degree in Bible Exposition from Pensacola Theological Seminary. Aaron has had the privilege of pastoring two churches, one of which he planted in Williamson. He is currently working in Evangelism. His passion is to effectively communicate the gospel to the lost and to equip the saints for spiritual usefulness. He and his wife, Sara, have been married for 10 years, and they have six children.</p>
<p>&nbsp;</p>
<!-- <h2>Evangelist Domenico Danesi <img style="border: 2px solid black;" class="alignright size-full wp-image-557" src="static/img/Domenico-Danesi.jpg" alt="" width="250" height="279" /></h2>
<p><b>Children’s Pastor, Koinonia Fellowship</b></p>
<p>Domenico was has been overseeing the Children’s Ministry of Koinonia Fellowship since November 2013. Domenico has a Master’s Degree in Physical Education and Sport from Ball State University and was a PE teacher and coach for 13 years at various public and private schools in the Rochester area. Domenico is very active in missions and evangelism. He has been married to Leslee Danesi for 14 years and has 6 children.</p>
					</div>.entry-content -->

{% endblock %}
