
{% extends "index.html" %}

{% block header %}
<div class="page-header color-1">
  <h2>Support The Hillyard Family</h2>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <p><button
      style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-plan_FUT9cqHyKz98Y2"
      role="link"
    >
      $5 Recurring Donation
    </button></p>

  </div>

  <div class="col-md-4">
    <p><button
      style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-plan_FUTG9tcfXfjuEF"
      role="link"
    >
      $10 Recurring Donation
    </button></p>
  </div>

  <div class="col-md-4">
    <p>
      <button
    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
    id="checkout-button-plan_FUTKP0cFlQSz0n"
    role="link"
  >
  $25 Recurring Donation
  </button>
    </p>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-md-4">
<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<p><button
  style="background-color:rgb(54, 214, 147);color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-sku_FUTLVUSk90FrSI"
  role="link"
>
  $5 One time
</button></p>
  
  </div>
  
  <div class="col-md-4">
    <p><button
      style="background-color:rgb(54, 214, 147);color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-sku_FUTOyWkWsfSMZe"
      role="link"
    >
      $25 One time
    </button></p>
  </div>
  
  <div class="col-md-4">
    <p><button
      style="background-color:rgb(54, 214, 147);color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-sku_FUTPU6qeFOgtW1"
      role="link"
    >
      $100 One time
    </button></p>
    
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-6">
      <p><button
        style="background-color:rgb(245, 101, 18);color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
        id="checkout-button-sku_Fl0EZqPgkwbS5l"
        role="link"
      >
        $200 One time
      </button></p>
    </div>
    <div class="col-md-6">
        <p><button
          style="background-color:rgb(245, 101, 18);color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
          id="checkout-button-sku_Fl0GmakvdgxnMd"
          role="link"
        >
        $500 One time
        </button></p>
      </div>
  </div>

<!-- Load Stripe.js on your website. -->

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->



<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_live_QenWBfbiiggT4aRM97lcONJa');

  var checkoutButton = document.getElementById('checkout-button-sku_FUTLVUSk90FrSI');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_FUTLVUSk90FrSI', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://areasonforliving.com/success',
      cancelUrl: 'https://areasonforliving.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

<script>
  var stripe = Stripe('pk_live_QenWBfbiiggT4aRM97lcONJa');

  var checkoutButton = document.getElementById('checkout-button-sku_FUTPU6qeFOgtW1');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_FUTPU6qeFOgtW1', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://areasonforliving.com/success',
      cancelUrl: 'https://areasonforliving.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

<script>
  var stripe = Stripe('pk_live_QenWBfbiiggT4aRM97lcONJa');

  var checkoutButton = document.getElementById('checkout-button-sku_FUTOyWkWsfSMZe');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_FUTOyWkWsfSMZe', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://areasonforliving.com/success',
      cancelUrl: 'https://areasonforliving.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

<script>
  var stripe = Stripe('pk_live_QenWBfbiiggT4aRM97lcONJa');

  var checkoutButton = document.getElementById('checkout-button-plan_FUTKP0cFlQSz0n');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: 'plan_FUTKP0cFlQSz0n', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://areasonforliving.com/success',
      cancelUrl: 'https://areasonforliving.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

<script>
  var stripe = Stripe('pk_live_QenWBfbiiggT4aRM97lcONJa');

  var checkoutButton = document.getElementById('checkout-button-plan_FUTG9tcfXfjuEF');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: 'plan_FUTG9tcfXfjuEF', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://areasonforliving.com/success',
      cancelUrl: 'https://areasonforliving.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>



<script>
  var stripe = Stripe('pk_live_QenWBfbiiggT4aRM97lcONJa');

  var checkoutButton = document.getElementById('checkout-button-plan_FUT9cqHyKz98Y2');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: 'plan_FUT9cqHyKz98Y2', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://areasonforliving.com/success',
      cancelUrl: 'https://areasonforliving.com/canceled'
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

<script>
    var stripe = Stripe('pk_live_QenWBfbiiggT4aRM97lcONJa');
  
    var checkoutButton = document.getElementById('checkout-button-sku_Fl0GmakvdgxnMd');
    checkoutButton.addEventListener('click', function () {
      // When the customer clicks on the button, redirect
      // them to Checkout.
      stripe.redirectToCheckout({
        items: [{sku: 'sku_Fl0GmakvdgxnMd', quantity: 1}],
  
        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: 'https://areasonforliving.com/success',
        cancelUrl: 'https://areasonforliving.com/canceled',
      })
      .then(function (result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  </script>

<script>
    var stripe = Stripe('pk_live_QenWBfbiiggT4aRM97lcONJa');
  
    var checkoutButton = document.getElementById('checkout-button-sku_Fl0EZqPgkwbS5l');
    checkoutButton.addEventListener('click', function () {
      // When the customer clicks on the button, redirect
      // them to Checkout.
      stripe.redirectToCheckout({
        items: [{sku: 'sku_Fl0EZqPgkwbS5l', quantity: 1}],
  
        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: 'https://areasonforliving.com/success',
        cancelUrl: 'https://areasonforliving.com/canceled',
      })
      .then(function (result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  </script>

{% endblock %}
