
{% extends "index.html" %}

{% block header %}
<div class="page-header color-1">
  <h2>Resources</h2>
</div>
{% endblock %}

{% block content %}
<h1>You have been saved... Now What?</h1>

<p>This tri-fold brochure outlines what it means to be a Christian, what Christians are called by God to do and what Christians believe. This is a great resource to give to new believers who may not know what the next step is after having accepted Jesus Christ as their savior.</p>

<a href="static/brochure.pdf" class="button" type="submit">Download PDF</a>
{% endblock %}
