
{% extends "index.html" %}

{% block header %}
<div class="page-header color-1">
  <h2>What We Do</h2>
</div>
{% endblock %}

{% block content %}

<div class="row" style="text-align: left; font-size: 18px !important; line-height: 30px !important">
  <div class="col-md-12">
    <p style="font-size: 18px !important; line-height: 30px !important">We are missionaries called to reach college campuses for Christ. We accomplish our mission by partnering with local churches to evangelize and connect new believers with a Bible-believing church. We’re excited for the opportunity to come to your church and work with you to present the gospel to your local college students.
      </p>
      <img style="float: right;
      margin: 10px;
      border-radius: 10px;" src="https://via.placeholder.com/468x320?text=video+to+pastor" alt="">
    <p style="font-size: 18px !important; line-height: 30px !important">Listed below is an overview of what a typical full week in your church would look like. Feel free to use this as a menu to pick and choose what best fits your church and availability.</p>

    <h1>Saturday</h1>
    <ul>
      <li>Meet with Pastor and scout the school</li>
    </ul>
    <h1>Sunday</h1>
    <ul>
      <li>Sunday School Lesson on the topic of “Fishing for Men – Four Styles of Evangelism”. In this lesson I encourage Christians that they don’t have to be an evangelist to share the gospel. God has called everyone to share their testimony.
        </li>
        <li>Sunday Morning Message to stir up the saints to spiritual usefulness and encourage them to be used by God to share their faith.</li>
        <li>Sunday Evening Message on the topic of “Wisdom in Winning Souls”. This message incorporates my experiences and what to expect when sharing the gospel with college students.</li>
    </ul>
    <h1>Monday & Tuesday</h1>
    <ul>
      <li>Those who will be evangelizing will meet at 10am at the church to go over a brief evangelistic plan for the day and prepare to go on the college campus.</li>
      <li>We will typically be on campus between 11a – 2p to hand out tracts and evangelize. We can also go out in the evening from 6-8p, either in addition to the morning time or replacing the morning time on one of the days.</li>

    </ul>
    <h1>Wednesday</h1>
    <ul>
      <li>Prayer Meeting – An hour before service we meet to pray for those who participated in evangelism and the college students we reached.</li>
      <li>Wednesday Evening Service – We share our ministry presentation and testimonies from the week.</li>
    </ul>
    <h1>Thursday</h1>
    <ul>
      <li>Early rise breakfast and prayer for the church with Pastor</li>
      <li>Moving on to the next ripe harvest – “…behold, I say unto you, Lift up your eyes, and look on the fields, for they are white already to harvest.” John 4:35</li>
    </ul>
    <p style="font-size: 18px !important; line-height: 30px !important">We recognize that your community and local colleges are your Jerusalem. We ask that you prayerfully consider allowing our ministry to partner with your church to fulfill the Great Commission in your area.</p>
  </div>
</div>

{% endblock %}
